@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  width: 1350px;
  margin: 0 auto;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 80px 24px 80px;
}
.header_title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}
.searchbox {
  background-color: #f2f2f2;

  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
form {
  display: flex;
  justify-content: space-between;
}
.searchbox_input {
  width: 480px;
  height: 56px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  background-image: url(../images/lupa.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 220px);
  padding-left: 40px;
}

.select_input {
  width: 200px;
  height: 56px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding-left: 24px;
}
.countries_info {
  background-color: #f2f2f2;
}
.country_wrapper {
  display: flex;
  padding: 0 44px;
  flex-wrap: wrap;
  padding-bottom: 45px;
}
.card {
  height: 336px;
  width: 264px;
  margin-top: 67px;
  margin-left: 42.14px;

  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}
.country_name {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
  margin-left: 24px;
}
.info {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
  margin-top: 16px;
  margin-left: 24px;
  gap: 8px;
}
.info p {
  margin-bottom: 8px;
}
.flag{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}